* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;              
  justify-content: center;   
  min-height: 100vh;      
  background-color: #f4f4f9;
  color: #333;
}

a {
  text-decoration: none;
  color: #000;
  color: inherit;
}